#symbol_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 600px;
	width: 600px;*/
}

h1 {
	font-size: 50px;
	font-family: Ubuntu;
	text-align: center;
}

h2 {
	font-size: 33px;
	font-family: Ubuntu;
	text-align: center;
}

h3, p, ul, li, p {
	font-family: Ubuntu;
}

body {
	background-color: white;
}

.page {
	background-color: #E0ECF4;
	width: 70%;
	margin: auto;
	padding: 70px;
	padding-top: 35px;
}

.pure-g > div {
	box-sizing: border-box;
}
.l-box {
	padding: 1em;
}

.newMaturity{
	color: #A5DB96
}

.juvenileMaturity{
	color: #87CC79
}
.semiMatureMaturity{
	color: #6AB25F
}
.matureMaturity{
	color: #4E9A51
}

.overMatureMaturity {
	color: #346636;
}

.unknownMaturity {
	color: #808080;
}

.industrialLocation {
	color: #e41a1c
}

.otherLocation {
	color: #377eb8
}

.parkLocation {
	color: #4daf4a
}

.residentialLocation {
	color: #984ea3
}

.streetLocation {
	color: #ff7f00
}
