#symbol_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 600px;
	width: 600px;*/
}

h1, h2 {
	font-family: sans-serif;
	text-align: center;
}

body {
	background-color: white;
}

.page {
	background-color: #E0ECF4;
	width: 70%;
	margin: auto;
	padding: 70px;
	padding-top: 35px;
}

.pure-g > div {
	box-sizing: border-box;
}
.l-box {
	padding: 1em;
}


